*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.html{
    font-family:" Montserrat ", sans-serif;
}
body{
    background-color:  lightsalmon !important ;
    padding: 0 ;
    overflow-x: hidden;
    display: flex;
  flex-direction: column;

}
.header{
    background-color:#f5ba13;
    margin: auto ;
    padding: 10px 32px;
    display: flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);


}
.header h1{
    color:#fff;
    font-family:"McLaren", cursive;
    font-weight: 200;
}

.main-content {
  flex: 1; /* This pushes the footer down */
}

footer {

  
  color: white;
  padding: 16px;
  text-align: center;
  bottom: 0;
}

.footer p{
    color: #575353;
}
.notebox{
    display: flex;
    

    width: 100%;
    justify-content: center;
    margin-top: 16px;
    
    
    border-radius: 7px;
    box-shadow: 0 2px 5px  #ccc;
    
}

.note{
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 5px  #ccc;
    padding: 10px;
    width:240px;
    margin : 16px;

    


}

.note-item{
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 5px  #ccc;
    padding: 10px;
    width:50%;
    margin : 16px;
    gap: 10px;}
    
    


.note h1{
    font-size: 1.1rem;
    margin-bottom: 6px;
    -webkit-text-fill-color: #ccc;
}
.note-box{
    display: flex;
   
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 2px 5px  #ccc;
    margin-bottom: 10px !important;
}
textarea{
    width: 100% !important;
    padding: 10px !important;
    border-radius: 7px !important;
    border: none !important;
    box-shadow: 0 2px 5px  #ccc;
    margin-bottom: 10px;
    resize: none  !important;
}
button{
    background-color: #f5ba13 !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 7px !important;
    cursor: pointer !important;
    font-weight: bold !important;
}
